@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Mobile-only scroll snap to snap to each section top */
@media (max-width: 768px) {
  html,
  body {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }

  .snap-section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}

/* Custom scrollbar for the carousel */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
}
